html {
  background: #414141;
  font-family: serif;
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

nav ul {
  display: -webkit-flex;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

/********************* FLOATING MENU *********************/

.fancy-menu {
  position: fixed;
  width: 15em;
  height: 15em;
  padding: 2em;
  background-color: #ffffff;
  border-radius: 2.25em;
  opacity: 0.2;
  z-index: 1;
  transition: width 0.25s ease-in-out, height 0.25s ease-in-out, opacity 0.50s ease-in-out;
}

.fancy-menu:hover {
  opacity: 1;
}

@media only screen and ( min-width: 768px ) {
  .fancy-menu {
    width: 20em;
    height: 20em;
  }
}

@media only screen and ( min-width: 1100px ) {
  .fancy-menu {
    width: 25.4em;
    height: 25.4em;
    /*padding: 2em;*/
  }
}

.fancy-menu__minimize {
  position: absolute;
  width: 3.5em;
  height: 3.5em;
  top: 0.5em;
  left: 0.5em;
  background-image: url( 'images/newmenu/menu2.png' );
  background-size: cover;
  z-index: 1;
}

.fancy-menu--minimized {
  height: 0.5em;
  width: 0.5em;
}

.fancy-menu__pin {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 0.25em;
  left: 4em;
  background-size: cover;
  background-image: url( 'images/newmenu/sticky_icon_on.png' );
  transition: background 0.25s ease-in-out, opacity 0.25s ease-in-out;
  z-index: 1;
}

.fancy-menu--minimized .fancy-menu__pin {
  opacity: 0;
}

.fancy-menu--pinned .fancy-menu__pin {
  background-image: url( 'images/newmenu/sticky_icon_off.png' );
}

.fancy-menu ul {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fancy-menu li a {
  display: block;
  height: 7.5em;
  width: 7.5em;
  background-position: center;
  background-size: cover;
  transition: height 0.25s ease-in-out, width 0.25s ease-in-out;
}

@media only screen and ( min-width: 768px ) {
  .fancy-menu li a {
    width: 10em;
    height: 10em;
  }
}

@media only screen and ( min-width: 1100px ) {
  .fancy-menu li a {
    width: 12.7em;
    height: 12.7em;
  }
}

.fancy-menu--minimized li a {
  width: 0;
  height: 0;
}

@-webkit-keyframes shake {
  0%   { -webkit-transform: translate(  0.1em,  0.1em ) rotate(  0.0deg ); }
  25%  { -webkit-transform: translate(  0.1em, -0.1em ) rotate(  1.5deg ); }
  50%  { -webkit-transform: translate( -0.1em, -0.1em ) rotate(  0.0deg ); }
  75%  { -webkit-transform: translate( -0.1em,  0.1em ) rotate( -1.5deg ); }
  100% { -webkit-transform: translate(  0.1em,  0.1em ) rotate(  0.0deg ); }
}

.fancy-menu li a:hover {
  -webkit-animation: shake 0.25s infinite;
}

.fancy-menu .icon-home {
  background-image: url( 'images/newmenu/mm1.png' );
}

.fancy-menu .icon-blog {
  background-image: url( 'images/newmenu/mm2.png' );
}

.fancy-menu .icon-portfolio {
  background-image: url( 'images/newmenu/mm3.png' );
}

.fancy-menu .icon-contact {
  background-image: url( 'images/newmenu/mm4.png' );
}

/********************* MAIN PAGE *********************/

.container {
  max-width: 106em;
  background: #dddddd;
}

@media only screen and ( min-width: 480px ) {
  .container {
    margin: 1em;
  }
}

@media only screen and ( min-width: 768px ) {
  .container {
    margin: 2em;
  }
}

@media only screen and ( min-width: 1100px ) {
  .container {
    margin: 4em auto;
  }
}

header {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.branding {
  -webkit-flex: 1;
  flex: 1;
  margin-left: 1em;
}

@media only screen and ( min-width: 768px ) {
  .branding {
    margin-left: 2em;
  }
}

.branding h1 {
  margin: 0;
  color: #414141;
  font-size: 2.3em;
  font-weight: normal;
  line-height: 1;
}

header nav {
  background: #414141;
  height: 3.6em;
}

@media only screen and ( min-width: 480px ) {
  header nav {
    width: 55%;
    padding-left: 5%;
  }
}

@media only screen and ( min-width: 768px ) {
  header nav {
    height: 6.2em;
  }
}

.home header nav li {
  display: none;
}

@media only screen and ( min-width: 480px ) {
  header nav li {
    margin-right: 1.5%;
  }
}

header nav li a {
  display: block;
  width: 3.6em;
  height: 3.6em;
  background-size: cover;
  background-position: center;
}

@media only screen and ( min-width: 768px ) {
  header nav li a {
    width: 6.2em;
    height: 6.2em;
  }
}

@media only screen and ( min-width: 1100px ) {
  header nav li a {
    width: 11.4em;
  }
}

nav li a span {
  display: none;
}

header nav .icon-home {
  background-image: url( 'images/m1.png' );
}

header nav .icon-blog {
  background-image: url( 'images/m2.png' );
}

header nav .icon-portfolio {
  background-image: url( 'images/m3.png' );
}

header nav .icon-contact {
  background-image: url( 'images/m4.png' );
}

main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  padding: 1em;
}

@media only screen and ( min-width: 480px ) {
  main {
    margin: 1em;
  }
}

@media only screen and ( min-width: 768px ) {
  main {
    padding: 2em;
    margin: 2em;
  }
}

.home main {
  background-image: url( 'images/bg1.png' );
}

.blog main {
  background-image: url( 'images/bg2.png' );
}

.portfolio main {
  background-image: url( 'images/bg3.png' );
}

.contact main {
  background-image: url( 'images/bg4.png' );
}

article p {
  margin: 1.6em 0;
  font-size: 1.4em;
  line-height: 1.6;
}

article :first-child {
  margin-top: 0;
}

article :last-child {
  margin-bottom: 0;
}

.home article {
  max-width: 36em;
  padding: 1em;
  background: #414141;
  color: #dddddd;
  opacity: 0.6;
}

@media only screen and ( min-width: 768px ) {
  .home article {
    padding: 2em;
  }
}

.blog article {
  padding: 1em;
  background: #ffffff;
  color: #414141;
  opacity: 0.6;
}

@media only screen and ( max-width: 767px ) {
  .blog article {
    margin-top: 1em;
  }

  .blog article:first-child {
    margin-top: 0;
  }
}

@media only screen and ( min-width: 768px ) {
  .blog article {
    width: 42.5%;
    padding: 2em;
  }

  .blog article:nth-child( n+3 ),
  .blog article:nth-child( n+4 ) {
    margin-top: 3%;
  }
}

@media only screen and ( min-width: 1100px ) {
  .blog article {
    width: 45%;
  }

  .blog article:nth-child( n+3 ),
  .blog article:nth-child( n+4 ) {
    margin-top: 2%;
  }
}

.blog article img {
  display: block;
  margin: 0 auto 0.4em auto;
}

@media only screen and ( min-width: 480px ) {
  .blog article img {
    float: left;
    width: 14.6em;
    margin: 0 1em 0 0;
  }
}

.blog article h2 {
  display: inline;
  font-size: 1.4em;
  line-height: 1.6;
}

.blog article h2 + p {
  display: inline;
}

.gallery__item {
  background: #ffffff;
  color: #414141;
}

@media only screen and ( max-width: 479px ) {
  .gallery__item:nth-child( n+2 ) {
    margin-top: 1em;
  }
}

@media only screen and ( min-width: 480px ) and ( max-width: 767px ) {
  .gallery__item {
    width: 49%;
  }

  .gallery__item:nth-child( n+3 ),
  .gallery__item:nth-child( n+4 ) {
    margin-top: 2%;
  }
}

@media only screen and ( min-width: 768px ) and ( max-width: 1099px ) {
  .gallery__item {
    width: 31.3%;
  }

  .gallery__item:nth-child( n+4 ),
  .gallery__item:nth-child( n+5 ),
  .gallery__item:nth-child( n+6 ) {
    margin-top: 3%;
  }
}

@media only screen and ( min-width: 1100px ) {
  .gallery__item {
    width: 23.5%;
  }

  .gallery__item:nth-child( n+5 ),
  .gallery__item:nth-child( n+6 ),
  .gallery__item:nth-child( n+7 ),
  .gallery__item:nth-child( n+8 ) {
    margin-top: 2em;
  }
}

.info {
  margin: 1em;
}

.info h2,
.info p {
  margin: 0;
  font-size: 1.4em;
  line-height: 1.6;
}

.contact article h2 {
  margin: 0.4em 0 3.6em 0;
  color:#ffffff;
  font-size: 2.3em;
}

@media only screen and ( min-width: 768px ) {
  .contact article h2 {
    font-size: 4.5em;
  }
}

@media only screen and ( min-width: 768px ) {
  .contact form {
    float: left;
    width: 49%;
    margin-right: 2%;
  }
}

.contact form p {
  margin: 0.2em 0;
}

.contact form p:first-child {
  margin-top: 0;
}

.contact form p:last-child {
  margin-bottom: 0;
}

.contact form label{
  color: #dddddd;
}

.contact form input[ type="text" ] {
  float: right;
  border: none;
}

.contact form textarea {
  width: 100%;
  padding: 0;
  border: none;
}

.contact form button {
  background: #ffffff;
  color: #414141;
  border: none;
}

.address {
  padding: 1em;
  margin-top: 1em;
  background: #ffffff;
  color: #414141;
  opacity: 0.6;
}

@media only screen and ( min-width: 768px ) {
  .address {
    float: left;
    width: 45%;
    padding: 2%;
    margin-top: 0;
  }
}

.address p {
  margin: 0;
  font-weight: bold;
}

.address p:nth-child( odd ) {
  float: left;
  clear: left;
}

.address p:nth-child( even ) {
  float: right;
}

/********************* FOOTER *********************/

footer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 1em;
  background: #027d8d;
  color: #ffffff;
}

@media only screen and ( min-width: 480px ) {
  footer {
    margin: 1em;
  }
}

@media only screen and ( min-width: 768px ) {
  footer {
    padding: 2em;
    margin: 2em;
  }
}

@media only screen and ( max-width: 767px ) {
  .footer__item {
    margin-top: 4em;
  }

  .footer__item:first-child {
    margin-top: 0;
  }
}

@media only screen and ( min-width: 768px ) {
  .footer__item {
    width: 48.5%;
  }
}

@media only screen and ( min-width: 768px ) and ( max-width: 1099px ) {
  .footer__item:nth-child( n+3 ),
  .footer__item:nth-child( n+4 ) {
    margin-top: 4em;
  }
}

@media only screen and ( min-width: 1100px ) {
  .footer__item {
    width: 23.5%;
  }
}

.footer__item h2 {
  margin: 1.6em 0;
  font-size: 1.4em;
}

.footer__item p {
  font-size: 1.4em;
  line-height: 1.6;
}

.footer__item address {
  font-size: 1.4em;
  font-style: normal;
  line-height: 1.6;
}

.footer__item a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.footer__item :first-child {
  margin-top: 0;
}

.footer__item :last-child {
  margin-bottom: 0;
}

.connect {
  display: -webkit-flex;
  display: flex;
  padding: 0;
  margin: 0 -0.4em;
  list-style: none;
}

.connect li {
  margin: 0 0.4em;
}

.connect li a {
  display: block;
  width: 3.5em;
  height: 3.5em;
  background-size: cover;
  background-position: center;
}

.connect li a span {
  display: none;
}

.icon-twitter {
  background-image: url( 'images/twitter.png' );
}

.icon-linkedin {
  background-image: url( 'images/linkedin.png' );
}

.icon-pinterest {
  background-image: url( 'images/pinterest.png' );
}

.icon-facebook {
  background-image: url( 'images/facebook.png' );
}

.icon-googleplus {
  background-image: url( 'images/google_plus.png' );
}
