html {
  background: #414141;
  font-family: serif;
  font-size: 62.5%;
}

img {
  max-width: 100%;
  heigth: auto;
  vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.container {
  max-width: 106em;
  background: #dddddd;
}

@media only screen and ( min-width: 480px ) {
  .container {
    margin: 1em;
  }
}

@media only screen and ( min-width: 768px ) {
  .container {
    margin: 2em;
  }
}

@media only screen and ( min-width: 1100px ) {
  .container {
    margin: 4em auto;
  }
}

.branding {
  float: left;
  margin: 0.5em 1em;
}

@media only screen and ( min-width: 768px ) {
  .branding {
    margin: 2em 2em 1.9em 2em;
  }
}

.branding h1 {
  margin: 0;
  color: #414141;
  font-size: 2.3em;
  font-weight: normal;
  line-height: 1;
}

.nav {
  float: right;
  background: #414141;
}

@media only screen and ( min-width: 480px ) {
  .nav {
    width: 55%;
    padding-left: 5%;
  }
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav li {
  float: left;
}

@media only screen and ( min-width: 480px ) {
  .nav li {
    margin-right: 1.5%;
  }
}

.nav li a {
  display: block;
  width: 3.6em;
  height: 3.6em;
  background-size: cover;
  background-position: center;
}

@media only screen and ( min-width: 768px ) {
  .nav li a {
    width: 6.2em;
    height: 6.2em;
  }
}

@media only screen and ( min-width: 1100px ) {
  .nav li a {
    width: 11.4em;
  }
}

.nav li a span {
  display: none;
}

.icon-home {
  background-image: url( 'images/m1.png' );
}

.icon-blog {
  background-image: url( 'images/m2.png' );
}

.icon-portfolio {
  background-image: url( 'images/m3.png' );
}

.icon-contact {
  background-image: url( 'images/m4.png' );
}

.main {
  padding: 1em;
  background-size: cover;
  background-position: center;
}

@media only screen and ( min-width: 480px ) {
  .main {
    margin: 1em;
  }
}

@media only screen and ( min-width: 768px ) {
  .main {
    padding: 2em;
    margin: 2em;
  }
}

.home .main {
  background-image: url( 'images/bg1.png' );
}

@media only screen and (min-width: 420px) {
  .home .main .article {
    max-width:40em;
  }
}

.blog .main {
  background-image: url( 'images/bg2.png' );
}

.contact .main {
  background-image: url( 'images/bg4.png' );
}

.portfolio .main {
  background-image: url( 'images/bg3.png' );
}

.section {
  padding: 0;
  margin: 0;
  list-style: none;
}

.article {
  padding: 1em;
  margin: 1em 0;
}

.article:first-child {
  margin-top: 0;
}

.article:last-child {
  margin-bottom: 0;
}

.article p {
  margin: 1.6em 0;
  font-size: 1.4em;
  line-height: 1.6;
}

.article :first-child {
  margin-top: 0;
}

.article :last-child {
  margin-bottom: 0;
}

.home .article {
  background: #414141;
  color: #dddddd;
  opacity: 0.6;
}

.blog .article {
  background: #ffffff;
  color: #414141;
  opacity: 0.6;
}

.blog .article img {
  display: block;
  margin: 0 auto 0.4em auto;
}

@media only screen and (min-width: 420px) {
  .blog .article {
    width:47.5%;
    min-height:150px; /* FIXME */
    margin:1em 0;
    padding:1%;
  }

  .blog .article:nth-child(odd) {
    float:left;
    clear:left;
    margin-right:1%;
  }

  .blog .article:nth-child(even) {
    float:right;
  }

  .blog .article img {
    float:left;
    max-width:10em;
    height:auto;
    margin:0 1em 1em 0;
  }
}

.blog .article h2 {
  display: inline;
  font-size: 1.4em;
  line-height: 1.6;
}

.blog .article h2 + p {
  display: inline;
}

.contact .article h2 {
  color:#ffffff;
}

@media only screen and (min-width: 420px) {
  .contact .article {
    padding:0;
  }

  .contact .article h2 {
    font-size:4em;
    margin:1em 0em 4.25em 0em;
  }

  .contact .article form {
    float:left;
    width:48%;
  }

  .contact .article div {
    float:right;
    width:46%;
    padding:3em 2%;
  }
}

.contact .article label {
  color:#ffffff;
}

.contact .article form p {
  margin:0;
}

.contact .article form label {
  float:left;
  clear:left;
}

.contact .article form input {
  float:right;
}

.contact .article form textarea {
  width:100%;
  padding:0;
  margin:0;
  border:0;
}

.contact .article form button {
  padding:2px 6px;
}

.contact .article div {
  padding:2em;
  background-color:#ffffff;
  opacity: 0.6;
}

.contact .article div p {
  margin:0;
  font-weight:bold;
}

.contact .article div p:nth-child(odd) {
  float:left;
  clear:left;
}

.contact .article div p:nth-child(even) {
  float:right;
}

.gallery {
  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery__item {
  margin: 1em 0;
  background: #ffffff;
  color: #414141;
}

.gallery__item:first-child {
  margin-top: 0;
}

.gallery__item:last-child {
  margin-bottom: 0;
}

.info {
  margin: 1em;
}

.info h2,
.info p {
  margin: 0;
  font-size: 1.4em;
  line-height: 1.6;
}

.footer {
  padding: 1em;
  background: #027d8d;
  color: #ffffff;
}

@media only screen and ( min-width: 480px ) {
  .footer {
    margin: 1em;
  }
}

@media only screen and ( min-width: 768px ) {
  .footer {
    padding: 2em;
    margin: 2em;
  }
}

.footer a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.footer__item {
  margin: 4em 0;
}

.footer__item:first-child {
  margin-top: 0;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__item h2 {
  margin: 1.6em 0;
  font-size: 1.4em;
}

.footer__item p {
  font-size: 1.4em;
  line-height: 1.6;
}

.footer__item address {
  font-size: 1.4em;
  font-style: normal;
  line-height: 1.6;
}

.footer__item :first-child {
  margin-top: 0;
}

.footer__item :last-child {
  margin-bottom: 0;
}

.connect {
  padding: 0;
  margin: 0;
  list-style: none;
}

.connect li {
  float: left;
  margin-right: 0.4em;
}

.connect li a {
  display: block;
  width: 3.5em;
  height: 3.5em;
  background-size: cover;
  background-position: center;
}

.connect li a span {
  display: none;
}

.icon-twitter {
  background-image: url( 'images/twitter.png' );
}

.icon-linkedin {
  background-image: url( 'images/linkedin.png' );
}

.icon-pinterest {
  background-image: url( 'images/pinterest.png' );
}

.icon-facebook {
  background-image: url( 'images/facebook.png' );
}

.icon-googleplus {
  background-image: url( 'images/google_plus.png' );
}
