body {
  background-color: #444;
	font-family:serif;
}
body > div {
  margin-left:auto;
  margin-top:30px;
  margin-right:auto;
  padding:15px;
  width:800px;
	background-color:#ccc;
}
#header {
	margin:auto;
}
#header div {
	display:inline;
}
#header div:first-child {
	float:left;
}
#header div:last-child {
	float:right;
}
div[role=main] {
	clear:both;
	height:500px;
}
.index {
	background-image:url("images/bg1.png");
	/*background-size:500px 500px;*/
}
.index div {
	background-color:#000;
	opacity:0.4;
	color:#fff;
	float:left;
	padding:10px;
	width:40%;
}
div[role=main] + div {
  background-color:#007f8f;
  color:#fff;
}
